{% extends 'base.html' %}

{% block contenido %}
  <h2>Listado de Proveedores</h2>

  {% if user.is_staff %}
    <a href="{% url 'registrar_proveedor' %}" class="boton" style="margin-bottom: 18px; display: inline-block;">+ Registrar proveedor</a>
  {% endif %}
<!-- <form method="get" style="display: inline;"> -->
<form method="get" class="inline-form">
  <input type="text" name="q" placeholder="Buscar..." value="{{ query }}">
  <button type="submit">Buscar</button>
</form>

{% if query %}
  <!-- <form method="get" action="" style="display: inline;"> -->
  <form method="get" action="" class="inline-form">
    <button type="submit">Limpiar filtro</button>
  </form>
{% endif %}

  <!-- <table border="1" cellpadding="5"> -->
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Contacto</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for proveedor in proveedores %}
        <!-- <tr{% if not proveedor.estado %} style="color: gray;"{% endif %}> -->
        <tr{% if not proveedor.estado %} class="inactivo"{% endif %}>
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.apellido }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.email }}</td>
          <td>{{ proveedor.direccion }}</td>
          <td>
            {% if proveedor.estado %}
                Activo
            {% else %}
                Inactivo
            {% endif %}
          </td>
          <td>
            {% if proveedor.estado %}
              <a href="{% url 'editar_proveedor' proveedor.id %}">Editar</a> |
              <a href="{% url 'dar_baja_proveedor' proveedor.id %}">Dar de baja</a>
            {% else %}
              <a href="{% url 'reactivar_proveedor' proveedor.id %}">Reactivar</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
