<!--C:\Users\kachu\Python user\Django\tp_ing_soft_ii\templates\base.html-->
<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Mi Web Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">
    <header class="header-main">
        <div class="header-left">
            <span class="logo">☕</span>
            <span class="brand">Café El Mejor</span>
        </div>
        <div class="header-right">
            {% if user.is_authenticated %}
                <span class="user-info-header">
                    <strong>{{ user.nombre }} {{ user.apellido }}</strong> | {{ user.email }} | 
                    {% if user.is_superuser %}Administrador{% else %}Cliente{% endif %}
                </span>
                <a href="{% url 'inicio' %}">Inicio</a> |
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </div>
    </header>

    {% if user.is_authenticated %}
    <nav class="main-nav">
        {% if user.is_staff %}
            <a href="{% url 'listar_clientes' %}">Clientes</a>
            <a href="{% url 'listar_productos' %}">Productos</a>
            <a href="{% url 'listar_proveedores' %}">Proveedores</a>
            <a href="{% url 'listar_ordenes' %}">Órdenes</a>
            <a href="{% url 'listar_facturas' %}">Facturas</a>
            <a href="{% url 'listar_cobranzas' %}">Cobranzas</a>
        {% else %}
            <a href="{% url 'listar_productos' %}">Productos</a>
            <a href="{% url 'ver_carrito' %}">Orden de Compra</a>
            <a href="{% url 'listar_ordenes' %}">Mis órdenes</a>
            <a href="{% url 'listar_facturas' %}">Facturas</a>
            <a href="{% url 'listar_cobranzas' %}">Cobranzas</a>
        {% endif %}
    </nav>
    {% endif %}

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="
                    {% if message.tags == 'success' %}mensaje-success
                    {% elif message.tags == 'error' %}mensaje-error
                    {% else %}mensaje-warning
                    {% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block contenido %}
        <!-- Contenido dinámico irá acá -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 - Nicolás Kachuk - Ing. de Software II - Prof: Dr. Sergio Daniel Conde</p>
    </footer>
</body>
</html>

